:root {
  --background-color: #c9ffe2;
  --primary-text: rgb(91, 80, 76);
  --secondary-text: rgb(49, 49, 28);
  --border-color: #339989;
  --hover-text: #b6f9c9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Sora;
}

.active {
  color: 7dd181;
}

@font-face {
  font-family: "Sora";
  src: local("Sora"),
    url("../src/assets/font/Sora-Regular.ttf") format("truetype");
}

main {
  color: var(--primary-color);
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--background-color);
}

/* Apply styles to header */
header {
  padding: 20px 35px;
  background-color: var(--hover-text);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profile-pic {
  width: 75%;
  height: 75%;
}

header h2 {
  /* font-weight: bold; */
  font-size: 36px;
  color: var(--secondary-text);
  margin: 0;
}

header a {
  text-decoration: none;
  color: var(--secondary-text);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-links,
footer nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
}

header nav ul li a:hover {
  background-color: var(--hover-text);
}

/* Apply styles to Hero */
.hero {
  background-image: url("../src/assets/projects/Mountains.jpeg");
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-attachment: fixed;
  background-position: 50%;
  padding: 20px;
  height: 800px;
}

.subtitle {
  border: 3px solid var(--border-color);
  background-color: var(--border-color);
  padding: 5px;
  width: auto;
  border-radius: 7px;
  font-size: 25px;
  justify-content: flex-end;
  color: white;
}

/* Bio section begins  */
.section-title {
  font-size: 40px;
  scroll-margin-top: 8rem;
}

.skill-icons img {
  margin: 5px;
  height: 100px;
  width: 100px;
}

.contacts {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card {
  margin-top: 2em;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.card-title {
  font-weight: 700;
  font-size: 1.5em;
}

.card img {
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn {
  margin: 3px 10px 3px 10px;
}
.card .btn:hover {
  background-color: rgba(0, 128, 128, 0.7);
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  box-shadow: 0 0 10px rgba(125, 209, 129, 0.2);
}

.card-img-top {
  width: 100%;
  height: 15vw;
}

.card-deck,
.bio {
  margin-left: 0px;
}

.container-fluid {
  width: 95%;
  margin: 25px;
}

/* Footer/Contact me section begins */
footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  background-color: var(--hover-text);
  padding-top: 7px;
}

footer nav ul {
  margin: 7px 0;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  flex-wrap: wrap;
  list-style: none;
}

footer h2 {
  font-size: 35px;
  text-align: center;
}

.fa:hover {
  opacity: 0.7;
}

.contact-icons:hover {
  color: rgb(0, 123, 255, 0.25);
  box-shadow: 5px 10px;
}

.fa-linkedin {
  color: #0e76a8;
}

.fa-github {
  color: #171515;
}

.icons {
  color: lavenderblush;
}

.links {
  text-decoration: none;
  padding: 10px 15px;
}

.links:hover {
  color: #7dd181;
}

.contact-me {
  text-decoration: none;
  color: #7dd181;
}

.contact-div {
  background-color: var(--hover-text);
  width: 80%;
  height: 20%;
  padding: 5px;
}
/* media query for 980px and smaller */
@media screen and (min-width: 1300px) {
  .hero {
    padding: 20px;
    height: 800px;
  }

  header h1 {
    font-size: 50px;
  }

  header ul li a {
    font-size: 25px;
  }

  .bio {
    font-size: 25px;
  }
}

@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    width: 100%;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    text-align: center;
    width: 100%;
  }
}

/* mediaquery for tablets and smaller styles for screens 768px and smaller */
@media screen and (max-width: 768px) {
  .hero {
    height: 700px;
  }
}
